<!DOCTYPE html>
<html>

<head>
  <title>{{subject}}</title>
</head>

<body>
  <h1>Welcome, {{name}}!</h1>
  <p>Thank you for joining My App. Please click the link below to verify your account:</p>
  <a href="{{verificationLink}}">Verify your account</a>
</body>

</html>